.box{
  background-color: #0092a3;
  border-radius: 3px;
  display: flex;
  align-items: stretch;
  width: 100%;
overflow-x: auto;
}
.form-field{
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}
.button-rounded {
  &.mat-button,
  &.mat-raised-button,
  &.mat-flat-button {
    border-radius: 25% / 50%;
    background-color: #0092a3;
  }
}

table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

th, td {
  padding: 16px;
  text-align: left;
}

@media (max-width: 300px) {
  th, td {
    display: block;
    width: 100%;
  }
}


